<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <header>
        <h3>Logo</h3>
        <nav>
            <ul>
                <li>
                    <a asp-action="Index" asp-controller="Home">Home</a>
                </li>
                <li>
                    <a asp-action="Contact" asp-controller="Home">Contact us</a>
                </li>
                <li>
                    @Html.ActionLink("Demo page", "Index", "Demo")
                </li>
            </ul>
        </nav>
    </header>
    <div>
        @RenderBody()
    </div>
    <footer>
        <span>&copy; Lexicon</span>
    </footer>
</body>
</html>
