
@{
    ViewData["Title"] = "Index";
}

<h1>Demo Index</h1>

<a asp-action="ToDoSession">ToDo Session</a>

<h3>Multi table 1 to 10</h3>
<table id="mathTable">
    <tbody>
        @for (int y = 1; y <= 10; y++)
        {
            <tr>
                @for (int x = 1; x <= 10; x++)
                {
                    <td>@(y*x)</td>
                }
            </tr>
        }
    </tbody>
</table>

<h4>Want to have a 1 to 10 multi table with your own number?</h4>

<form method="post">
    <label for="multNumber">Number:</label>
    <input type="number" id="multNumber" name="multNumber" />

    <button>Give me multi tabel</button>
</form>